.main {
  // width: 1760px;
  // margin: 0 auto;
  // overflow: auto;
  // min-height: 100vh;
  // height: 100%;
  // height: 100vh;
  position: relative;
  z-index: -102;
  background-color: #f1f1f1;
}

.app {
  display: flex;
  justify-content: center;
  gap: 15px;
  // max-width: 1760px;
  // margin: 0 auto;
  z-index: -101;
  position: relative;

  height: 100vh;
  overflow: hidden;
}

// .main .app .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input,
// .main .app .css-1pk1fka {
//   padding: 5px 10px;
// }
// .main .app .css-2u11ia-MuiInputBase-input-MuiOutlinedInput-input,
// .main .app .object-properties .css-1ooubvk {
//   padding: 8px 10px;
// }
// .main
//   .app
//   .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
// .main .app .css-mp9f0v {
//   padding: 5px 10px;
// }

.main .app .css-113d811-MuiFormLabel-root-MuiInputLabel-root,
.main .app .css-1niro10 {
  top: -12px;
  left: -15px;
}

.main .app .css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root,
.main .app .css-160rfsr {
  top: -10px;
}

//
.instructions {
  width: 320px;
  background: #f0f0f0;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50px;
  position: relative;
  z-index: -106;
}
.project-name {
  font-weight: 700 !important;
  margin: 0 !important;
  line-height: 1;
}

.padding-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.project-dialog-input input {
  padding: 14px !important;
}

// .text-field-input input {
//   padding: 0 !important;
// }
