.banner-area {
  // flex-grow: 1;
  position: relative;
  background: #fff;
  border: 2px solid #ddd;
  overflow: hidden;
  width: 1080px;
  height: 1080px;
}

.object {
  position: absolute;
  cursor: grab;
}
