.banner-area {
  position: relative;
  background: #fff;
  border: 2px solid #ddd;
  overflow: hidden;
  width: 1080px;
  min-width: 1080px;
  height: 1080px;
  min-height: 1080px;
}

.object {
  position: absolute;
  cursor: grab;
}
//
.banner-object,
.banner-object-child {
  padding: 1px;
  border: 1px solid transparent;
  cursor: pointer;
}
.banner-object:hover {
  border: 1px solid #ccc;
}

.banner-object-child:hover {
  border: 1px solid #ccc !important ;
}

.banner-object.selected {
  border: 1px solid blue;
}

.banner-object-child.selected {
  border: 1px solid blue !important;
}

.resize-handle {
  display: none;
}

.resize-handle.selected {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  right: 0;
  bottom: 0;
  background-color: blue;
  cursor: se-resize;
}
