.banner-area {
  // flex-grow: 1;
  position: relative;
  background: #fff;
  border: 2px solid #ddd;
  overflow: hidden;
  width: 1080px;
  height: 1080px;
}

.object {
  position: absolute;
  cursor: grab;
}
//
.banner-object {
  padding: 1px;
  margin: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.banner-object.selected {
  border: 1px solid blue;
}
