.object-properties {
  width: 320px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f0f0f0;
  .properties-list {
    display: flex;
    flex-direction: column;
  }
}

.text-align {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .title {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
}

.text-decoration {
  margin-bottom: 10px;
}

.font-style {
  margin-bottom: 10px;
}

.border-selectors {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.update-image-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.auto-width {
  display: flex;
  gap: 10px;
}
