.sidebar {
  border: 1px solid #ececec;
  background: #ffffff;
  width: 320px;
  // height: auto;

  height: auto;
  max-height: 100vh;
  overflow-y: scroll;

  // min-height: 1120px;
  overflow-y: auto;
  margin-bottom: 10px;
}
.sidebar-wrapper {
  padding: 10px 10px 0 10px;
}

.sidebar-tabs {
  display: flex;
  padding-left: 6px;
}
// button {
//   display: block;
//   margin-bottom: 1rem;
// }

// .group-list-item {
//   border: 2px solid #f1f1f1;
// }
.grey-line {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin: 8px 0;
}

.layers-list-item {
  margin-left: 10px;
}

.inserting-props {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
//
.variables-panel {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.table-header,
.table-row {
  display: flex;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.table-header {
  border-top: 1px solid #e0e0e0;
  font-weight: 700;
  .table-cell {
    padding-left: 10px;
  }
}

.table-cell {
  flex: 1;
  padding: 0;
  border-right: 1px solid #e0e0e0;
}
.table-cell.table-actions {
  border-right: none;
}

.table-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 40px;
}

.image-gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 230px;
  min-height: 250px;

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 12px;
  }

  .image-container {
    position: relative;
    width: 100%;
    padding-top: 100%; // 1:1 aspect ratio
    background-color: rgb(250, 246, 246);
    border-radius: 8px;
    overflow: hidden;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    padding: 4px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 1;
  }

  .image-container:hover .delete-button {
    display: flex;
  }
}

.image-gallery-wrapper {
  padding: 4px;
  border: 1px dashed transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.image-gallery-wrapper.drag-over {
  border-color: #1976d2;
  background-color: #f0f4ff;
}

.image-gallery-wrapper:hover {
  border-color: #ccc;
}
