.sidebar {
  border: 1px solid #ececec;
  background: #ffffff;
  width: 320px;
  height: 100%;
  min-height: 1120px;
  overflow: auto;
  margin-bottom: 20px;
}
.sidebar-wrapper {
  padding: 10px 10px 0 10px;
}

.sidebar-tabs {
  display: flex;
  padding-left: 6px;
}
// button {
//   display: block;
//   margin-bottom: 1rem;
// }

// .group-list-item {
//   border: 2px solid #f1f1f1;
// }
.grey-line {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin: 8px 0;
}

.layers-list-item {
  margin-left: 10px;
}
